In [27]:
import pyspark

In [28]:
import pandas as pd

In [29]:
pd.read_csv('test.csv')

       Name  age
0     Krish   31
1  Sudhansh   30
2     Sunny   29

In [30]:
from pyspark.sql import SparkSession

In [31]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [32]:
spark

In [33]:

df_pyspark=spark.read.csv('test.csv');

In [34]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [35]:
df_pyspark.show()

+--------+---+
|     _c0|_c1|
+--------+---+
|    Name|age|
|   Krish| 31|
|Sudhansh| 30|
|   Sunny| 29|
+--------+---+

In [36]:
df_pyspark=spark.read.option('header','true').csv('test.csv').show()

+--------+---+
|    Name|age|
+--------+---+
|   Krish| 31|
|Sudhansh| 30|
|   Sunny| 29|
+--------+---+

In [37]:
type(df_pyspark)

NoneType